body {
  font-family: "Comic Sans MS", cursive, sans-serif
}

body {
  background-color: saddlebrown
}
h1 {
  color: red
}

h2 {

  color: yellow
}

p1 {color: red
}

p2 {color:blue
}

p3 {color: green
}

p4 {color: yellow
}

p5 {color: purple
}

p6 {color: orange

}

body {
  color: black
}


